# Build artifacts
/build/

# IDE / OS specific files
.DS_Store
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.vcxproj.user 

# cursor
.cursor/

# --- clangd 및 LSP 관련 파일 ---
compile_commands.json
.clangd
.clangd/
.cache/

# --- 기타 빌드 관련 파일 ---
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# --- 프로젝트 파일 ---
*.cpp
*.h
